DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_RELEASE_ROLE_ID=
DISCORD_LANGUAGE_ROLE_ID=
DISCORD_MISSING_TIME_ROLE_ID=

WEB_PORT=3000
HOST_PORT=3000
WEB_USER=admin
WEB_PASSWORD=

TIME_ZONE=Europe/Berlin
REMINDER_MINUTES=0
MISSING_TIME_POST_TIME=18:00
DATA_FILE=./data/db.json
